<!-- Parent Template -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Embedded stylesheets -->
    {% include './components/styles.html' %}
    <title>{% block title %} |{% endblock %} fvPinterest</title>
</head>

<body>
    <!-- Header -->
    {% include './components/header.html' %} {% block content%} {% endblock %}

    <!-- Embedded scripts -->
    {% include './components/scripts.html' %}

    <!-- Footer -->
    {% include './components/footer.html' %}
</body>

</html>