<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/jquery-3.4.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/bootstrap.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/mdb.min.js') }}"></script>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mdbvue/lib/mdbvue.umd.min.js"></script>
<script src="{{ url_for('static', filename= 'js/app.js') }}"></script>